// Variables

$font-family: "Montserrat", sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$primary-color: #ff6060;

// Screen bellow that threshold will be unsupported
$min-breakpoint-width: 375px;

$desktop-breakpoint-width: 1280px;
